.header {
    display:flex;
    justify-content:space-between;
    border: 1px solid black;
}

.logo{
    width:120px;
    height:120px;
}

.nav-items > ul {
    display : flex;
    list-style-type: none;
    padding: 0px 20px;
    font-size:24 px;
}

.nav-items > ul > li{
    padding:10px;
    margin:10px;
}